@import "bootstrap";
@import "bootstrap/variables";
@import "orders";

html, body {
  height: 100%;
}
body {
  font-size: 16px;
}

/* -- Custom Styles -- */
.top-buffer {
  margin-top: 10px;
}
.inline {
  display: inline-block;
}
.horizontal-spacer {
  padding: 0 10px;
}

.relative-container {
  position: relative;
}
