.search-container {
  position: relative;
}

.result-container {
  position: absolute;
  z-index: 2;
  background-color: white;
  width: 100%;
  border: 1px solid black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);

  div {
    padding: 5px;
    border: 1px solid grey;
  }

  .search-result {
    cursor: pointer;
  }
}

.order-item-table {
  .order-item {
    input {
      padding: 3px;
    }
  }
}

.order-item .has-error {
  background-color: $brand-danger;
}
