version: "3.8"
services:
  app:
    build:
      context: .
    command: docker/start.dev.sh
    ports:
      - 3000:3000
    volumes:
      - .:/home/app
      # This is a trick to not load the .git in the app, so that it is a bit faster
      #
      # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
      - /home/app/.git/
    # env_file: .env.dev
    environment:
      DATABASE_HOST: postgres
      DATABASE_NAME: chleehof
      DATABASE_PASSWORD: password
      DATABASE_USERNAME: postgres
    depends_on:
      - postgres

  ###############################
  #### Third-party Services #####
  ###############################
  postgres:
    image: postgres:11
    environment:
      - POSTGRES_DB=chleehof
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=postgres
    volumes:
      - db-data:/var/lib/postgresql/data:rw
    ports:
      - target: 5432
        published: 5432
        protocol: tcp

volumes:
  db-data: {}
