<h1><%= "Produkt Anpassen: #{@product}" %></h1>
<div class="tabs-content">
  <% form_for :product, url(:products, :update, :id => @product.id), method: :put, multipart: true, class: 'form-horizontal' do |f| %>
    <%= partial 'products/form', :locals => { :f => f } %>
  <% end %>
</div>
