<div class="row">
  <div class="col-md-5">
    <h2>Neues Produkt erfassen</h2>
<% form_for :product, url(:products, :create), class: 'form-horizontal' do |f| %>
  <%= partial 'products/form', :locals => { :f => f } %>
<% end %>
  </div>
</div>
