@import "bootstrap";
@import "bootstrap/variables";
@import "products";
@import "orders";

$margin-top: 0;
$xs-logo-height: 30px;
$md-logo-height: 60px;
$footer-height: 30px;
$body-height: calc(100% - (#{$margin-top} + #{$footer-height}));

html {
  height: 100%;
  min-height: 100%;
}

body {
  margin-top: $margin-top;
  height: $body-height;
  min-height: $body-height;
  background: transparent;
}

.navbar {
  border-bottom: 3px solid $brand-primary;

  .container-fluid > .navbar-brand {
    margin-left: 0;
  }

  // .logo-container {
  //   max-height: $xs-logo-height;
  //   height: $xs-logo-height;
  //   width: 100%;
  // }

  .navbar-toggle.collapsed {
    margin-top: $md-logo-height;
  }
}

.content {
  height: 100%;
}

.footer {
  height: 30px;
}

@media (min-width: $screen-md-min) {
  #banner {
    background:
      linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.3) 30%, rgba(255, 255, 255, 1)),
      /* bottom, image */
      url('/images/sky_banner.jpg');
    background-size: 100%;
  }

  .logo-container {
    max-height: $md-logo-height;
    height: $md-logo-height;
    padding: 10px;
  }

  .navbar-brand {
    font-size: 22px;
    padding-top: 94px;
  }

  .navbar-nav {
    padding-top: 80px;
  }

}
