<div class="row">
  <div class="col-xs-12">
    <h3>Unser Betrieb</h3>
  </div>
  <div class="col-md-6 col-xs-12">
    <ul>
      <li>
      <h5>Unser Betrieb liegt 1 km ausserhalb von Kirchberg BE Richtung Utzensdorf.</h5>
      </li>
      <li>
        <h5>Wir sind Mastbetrieb mit 100 K채lber f체r GEFU.</h5>
      </li>
      <li>
        <h5>Kaninchenzuchtbetrieb mit 130 Muttertieren f체r Kani Suisse.</h5>
      </li>
      <li>
        <h5>H체hner zur Selbstversorgung.</h5>
      </li>
    </ul>
    </p>
  </div>
  <div class="col-md-6 col-xs-12">
    <%= image_tag '/images/minified/chleehof_wide.jpg', class: 'img img-responsive' %>
  </div>
</div>
