<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= image_tag '/images/minified/chleehof_front.jpg', class: 'img img-responsive' %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Familie Lüthi Chleehof 8 3422 Kirchberg</h1>
  </div>
</div>
