<div class="row">
  <div class="col-xs-12">
    <h3>Kontakt</h3>
  </div>
  <div class="col-md-6 col-xs-12">
    <p>
      <div><strong>Familie Lüthi</strong></div>
      <div>Chleehof 8</div>
      <div>3422 Kirchberg</div>
    </p>
    <p>
      Telefon: <a href="tel:+41 34 445 53 89">034 445 53 89</a>
    </p>
    <p>
      Handy: <a href="tel:+41 79 583 77 55">079 583 77 55</a>
    </p>
    <p>
      Email: <a href="mailto:vomhof@luethi-chleehof.ch">vomhof@luethi-chleehof.ch</a>
    </p>
  </div>
  <div class="col-md-6 col-xs-12">
    <%# <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2716.2633817830488!2d7.5759975509034545!3d47.09390713114442!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478e2e93a64d8805%3A0xa037038abb42c0f!2sChleehof+8%2C+3422+Kirchberg!5e0!3m2!1sen!2sch!4v1488727638838" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> %>
    <script type="text/javascript" src="//map.search.ch/api/map.js"></script>
    <script type="text/javascript">new SearchChMap({center:"3422 Kirchberg/Chleehof 8",zoom:4,poigroups:"default"});</script>
    <div id="mapcontainer" style="width:560px;height:420px;border:1px solid #888">
      <noscript>
        <div>
          <a target="_top" href="https://map.search.ch/Kirchberg,Chleehof-8?z=256">
            <img src="//map.search.ch/chmap.jpg?base=3422+Kirchberg%2FChleehof+8&amp;layer=sym,fg,copy,circle,ruler&amp;w=560&amp;h=420&amp;x=m&amp;y=m&amp;zd=2&amp;poi=bergbahn,haltestelle,parkhaus,viasuisse,zug" style="border:0" id="mapimg" alt="Map: " />
          </a>
        </div>
      </noscript>
    </div>
  </div>
</div>
