<div class="row">
  <h3>Lohnarbeiten</h3>
  <div class="col-md-6 col-xs-12">
    <ul>
      <li>
        <h5>Kalk Lager für Landor</h5>
      </li>
      <li>
        <h5>Kalkstroh mischen</h5>
      </li>
      <li>
        <h5>Kartoffel graben mit WM vom Maschinenring Ersigen</h5>
      </li>
      <li>
        <h5>Streuer zum Kalk ausbringen</h5>
      </li>
    </ul>
  </div>

  <div class="col-md-6 col-xs-12">
    <%= image_tag '/images/minified/graben.jpg', class: 'img img-responsive' %>
  </div>
</div>
