<div class="row">
  <div class="col-xs-12">
    <h3>
      Schule auf dem Bauernhof <small><%= link_to "www.SchuB.ch", 'https://www.schub.ch', target: :blank %></small>
    </h3>
  </div>
  <div class="col-md-6 col-xs-12">
    <h4>Themen</h4>
    <ul>
      <li>
      <h5>Kartoffeln</h5>
      </li>
      <li>
        <h5>Obst</h5>
      </li>
      <li>
        <h5>Bauerngarten</h5>
      </li>
      <li>
        <h5>Hühner</h5>
      </li>
      <li>
        <h5>Getreide</h5>
      </li>
      <li>
        <h5>Boden / Biodiversität</h5>
      </li>
      <li>
        <h5>Bauernhof allgemein</h5>
      </li>
    </ul>
    </p>
  </div>
  <div class="col-md-6 col-xs-12">
    <div id="carousel" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag '/images/minified/schule1.jpg', class: 'img img-responsive' %>
        </div>
        <div class="item">
          <%= image_tag '/images/minified/schule2.jpg', class: 'img img-responsive' %>
        </div>
        <div class="item">
          <%= image_tag '/images/minified/schule3.jpg', class: 'img img-responsive' %>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
