<div class="row">
  <div class="col-xs-12">
    <h3>
      Schule auf dem Bauernhof <small><%= link_to "www.SchuB.ch", 'www.schub.ch' %></small>
    </h3>
  </div>
  <div class="col-md-6 col-xs-12">
    <h4>Themen</h4>
    <ul>
      <li>
      <h5>Kartoffeln</h5>
      </li>
      <li>
        <h5>Obst</h5>
      </li>
      <li>
        <h5>Bauerngarten</h5>
      </li>
      <li>
        <h5>Hühner</h5>
      </li>
      <li>
        <h5>Getreide</h5>
      </li>
      <li>
        <h5>Boden / Biodiversität</h5>
      </li>
      <li>
        <h5>Bauernhof allgemein</h5>
      </li>
    </ul>
    </p>
  </div>
  <div class="col-md-6 col-xs-12">
    <%= image_tag '/images/minified/schule.jpg', class: 'img img-responsive' %>
  </div>
</div>
